/*This CSS page gives specific style to the dashboard page*/

body{
    background-image: url("/img/dashboard.jpg");
    background-color: rgba(152, 169, 185, 0.956); /*A background color is given in case the background image does not load*/
    background-size: 100%;
}

main{
    text-align: center;
}

td{ /*Border for the whole table*/
    border: 2px solid black;
}

th{ /*Top row of headings in the table*/
    background-color: rgb(220, 41, 112);
}

.headings{ /* Class given to the column of Semester and Block*/
    font-weight: bold;
}

th, .headings{
    border: 4px solid black;
}    

td{ 
    background-color: beige;
}

table{
    margin-left: 0;
}

#done{ /*Class assigned to current or done courses*/
    background-color: rgb(255, 169, 184); 
}

#fail{
    background-color: rgb(255, 0, 0); 
}

#resit{
    background-color: rgb(238, 255, 0); 
}

progress{ 
    width: 800px;
    background-color: green;
}

#nbsa{ /*Literally text written '45 EC' in the progress bar area*/
    margin-top: -38px;
    margin-bottom: 0;
}

#nbsa-boundary{ /*Literally text written 'NBSA' in the progress bar area*/
    margin-top: 20px;
}

#nbsa, #nbsa-boundary{
    margin-left: 400px;
    margin-top: 0;
}

h3{ /*Progress bar title*/
    padding-bottom: 0;
    margin-bottom: 0;
}

.ec{ /*Number of gotten EC in the progress bar area*/
    margin-left: -860px;
    margin-top: -56px;
}

.vertical-line{ /*Red line that determines the NBSA boundary*/
    border-left: 4px solid red;
    height: 26px;
    margin-left: 910px;
    margin-top: -38px;
    margin-bottom: 40px;
    position: relative; /*Puts the red line of NBSA boundary on top*/
    z-index: 2; /*Puts the red line of NBSA boundary on top*/
}