body{
    background-image: url("/img/faq.jpg");
    background-color: rgba(152, 169, 185, 0.956);
    background-size: 100%;
}

a.aside, .faq-go-to-this-links{
    color:blue;
}

.footer-text{
    margin-top: -13px;
}