/*This CSS page gives specific style to the FAQ page*/

body{
    background-image: url("/img/faq.jpg");
    background-color: rgba(152, 169, 185, 0.956); /*A background color is given in case the background image does not load*/
    background-size: 100%;
}

.faq-go-to-this-links{ /*Links given in the answers of the questions*/
    color:blue;
}

.footer-text{
    margin-top: -13px;
}