body{
    background-image: url("/img/index.jpg");
    background-color: rgba(152, 169, 185, 0.956);
    background-size: 1500px; 
}

.hz-logo{
    height: 100px;
    float: right;
}

ul.aside{
    background-color: rgb(248, 255, 41);
}    

a.aside{
    color:blue;
}  