body{
    background-image: url("/img/index.jpg");
    background-color: rgba(152, 169, 185, 0.956);
    background-size: 1500px; 
}

.hz-logo{
    height: 100px;
    float: right;
}

ul.aside, .aside-title{
    background-color: rgb(255, 247, 0);
}    

a.aside{
    color:blue;
}  

h3{
    font-size: 30px;
}

.paragraph{
    font-size: 22px;
}

#impossible-pic{
    margin-left: 220px;
}

#help-pic{
    margin-left: 120px;
}