body{
    background-image: url("/img/profile.jpg");
    background-color: rgba(152, 169, 185, 0.956);
    background-size: 100%;
}

a.aside{
    color:rgb(0, 0, 0);
}

.personal-info, .pre-education, .extra-curricular-act{
    padding-bottom: 20px;
}

.personal-info{
    padding-top: 70px;
    background-color: rgb(255, 157, 0);
    padding-left: 20px;
} 

.information, .extra-curricular-act{
    text-align: center;
}

.extra-curricular-act{
    background-color: rgb(255, 157, 0);
}

.pre-education{
    background-color: rgb(235, 182, 23);
}

.title{
    margin-left: 150px;
}

#profile-pic{
    height: 450px;
    transform: rotate(15deg);
    float: right;
    margin-top: -240px;
    margin-right: 100px;
    margin-bottom: 40px;
}

#family-pic{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    margin: auto;
}

#school-pic{
    height: 300px;
    margin-top: 0;
    padding-top: 0;
}

p,h3, pre, figcaption, li{
    font-size: 20px;
}

pre{
    margin-top: 0;
}

figcaption{
    margin-bottom: 30px;
}

.subjects{
    margin-left: 300px;
}

#vertical-pic-first-line{
    height: 300px;
}

#horizontal-pic{
    height: 250px;
}

#vertical-pic-third-line{
    height: 250px;
}